/* 기본 스타일 */
body {
    font-family: Pretendard, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF5A5F;
    color: #fff7ef;
    text-align: center;
    padding: 2em 0;
}

h1 {
    margin: 0;
    font-size: 3em;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #FF5A5F;
    margin-bottom: 0.5em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff7ef;
}

/* 타임라인 이벤트 스타일 */
.timeline .event {
    position: relative;
    margin-bottom: 1.5em;
    padding: 1em;
    border: 1px solid #c4b5b4;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

.timeline .event h3 {
    margin: 0;
    font-size: 1.5em;
}

.timeline .event p {
    margin: 0.5em 0;
}

/* 버튼 컨테이너 스타일 */
.button-container {
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    justify-content: flex-end; /* 버튼을 오른쪽에 정렬 */
    flex-wrap: wrap; /* 버튼이 겹치지 않도록 줄바꿈 적용 */
}

.edit-moment, .delete-moment, .save-moment, .cancel-moment,
.edit-comment, .delete-comment, .save-comment-edit, .cancel-comment-edit, .delete-comment-edit {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
    color: black;
}

.edit-moment:hover, .delete-moment:hover, .save-moment:hover, .cancel-moment:hover,
.edit-comment:hover, .delete-comment:hover, .save-comment-edit:hover, .cancel-comment-edit:hover, .delete-comment-edit:hover {
    color: #FF5A5F;
}

/* 댓글 스타일 */
.comment-list {
    margin-top: 1em;
}

.comment-item {
    position: relative;
    padding: 0.5em;
    border: 1px solid #c4b5b4;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 0.5em;
    width: 100%;
    box-sizing: border-box;
    word-break: break-word;
}

/* 댓글 수정 폼 스타일 */
.edit-comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.edit-comment-form input, .edit-comment-form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #c4b5b4;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.edit-comment-form textarea {
    min-height: 100px;
    resize: vertical;
    overflow: hidden;
}

.edit-comment-form .button-container {
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-top: 10px;
    justify-content: flex-end; /* 버튼을 오른쪽에 정렬 */
    flex-wrap: wrap; /* 버튼이 겹치지 않도록 줄바꿈 적용 */
}

.edit-comment-form button {
    background: transparent;
    color: black;
    cursor: pointer;
    margin: 0; /* 버튼 간격 조정 */
    width: auto; /* 버튼이 수평으로 확장되지 않도록 설정 */
}

.edit-comment-form button:hover {
    background-color: transparent;
    color: #FF5A5F; /* 버튼 hover 색상 */
}

/* 폼 스타일 */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%; /* 각 파트에 꽉 차게 */
}

form input, form textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #c4b5b4;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form textarea {
    min-height: 100px;
    resize: vertical;
    overflow: hidden;
}

textarea.auto-resize {
    overflow: hidden;
    resize: none;
}

form button {
    padding: 0.5em;
    background-color: #FF5A5F;
    color: #fff7ef;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; /* 버튼을 오른쪽에 정렬 */
    width: 100%;
}

form button:hover {
    background-color: #dd5147; /* 버튼 hover 색상 */
}


/* 메시지 갤러리 아이템 스타일 */
.message-gallery-item {
    position: relative;
    margin: 10px;
    display: inline-block;
}

/* 이미지 스타일 */
.message-gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* 이미지 제목 스타일 */
.message-gallery-item h3 {
    margin-top: 5px;
    text-align: center;
    color: #333;
    font-size: 1.2em;
}

/* 갤러리 아이템 스타일 */
.gallery-item {
    position: relative;
    margin: 10px;
    display: inline-block;
}

/* 이미지 스타일 */
.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* 이미지 제목 스타일 */
.gallery-item h3 {
    margin-top: 5px;
    text-align: center;
    color: #333;
    font-size: 1.2em;
}

/* 삭제 버튼 스타일 */
.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    color: #FF5A5F;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}